// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center.narrow {
  padding-top: 150px;
  width: 500px;
  margin: 0 auto;
}

html, body, main, #query-target {
  margin: 0px;
  padding:0px;
}

body, main, #query-target {
  height: 100%;
  width: 100%;
}

main {
  padding-top: 50px;
}

#query-bar {
  width: 550px;
  height: 44px;
  margin-top: 3px;
}

#query-go {
  height: 44px;
  margin-top: 3px;
  margin-left: 10px;
}