<div class='center narrow'>
  <%= link_to(user_omniauth_authorize_path(:facebook),
              class: "btn btn-block btn-facebook") do %>
    <i class='fa fa-facebook'> Login with Facebook</i>
  <% end %>
  <%= link_to(user_omniauth_authorize_path(:github),
              class: "btn btn-block btn-github") do %>
    <i class='fa fa-github'> Login with Github</i>
  <% end %>
</div>